@import "../constant.scss";
@import "../screen-sizes";

html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 20px;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-height: 100vh;

  &__container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10pt;
    margin: $header-height auto calc(#{$footer-height} + 5pt);
    width: 100%;
    max-width: 980px;
  }
}

@media (max-width: $xsmall) {
  .app__container {
    padding: 0 2pt;
  }
}

@media (max-width: $small) {
  .app__container {
    padding: 0 5pt;
  }
}