{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": true
    }]
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}
