@import 'screen-sizes.scss';

.lifts-table {
  width: 100%;
}

.lifts-table td, .lifts-table th {
  text-align: center;
}

@media (max-width: $xsmall) {
  .lifts-table.mdl-data-table td, .lifts-table.mdl-data-table th {
    padding-left: 2pt;
    padding-right: 2pt;
  }
}

@media (min-width: $xsmall) and (max-width: $small) {
  .lifts-table.mdl-data-table td, .lifts-table.mdl-data-table th {
    padding-left: 7pt;
    padding-right: 7pt;
  }
}
