.buka-skipass-search {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__add-button {
    position: fixed;
    right: 10pt;
    bottom: 20pt;
  }
}
