@import 'screen-sizes.scss';

.scipass-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scipass-info__table {
  width: 100%;
}

@media (max-width: $xsmall) {
  .scipass-info__table.mdl-data-table td {
    padding-left: 7px;
    padding-right: 7px;
  }
}
