@import 'screen-sizes.scss';

.skipass-card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 140pt;
  height: 170pt;

  &--shadow {
    box-shadow: 0 1pt 3pt 0 rgba(0,0,0,0.37);
    transition: box-shadow 0.28s cubic-bezier(0.4,0,0.2,1);

    &:hover {
      box-shadow: 0 2pt 2pt 0 rgba(0,0,0,0.2),0 5pt 10pt 0 rgba(0,0,0,0.3);
    }
  }

  &__header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bcd4;
  }

  &__title {
    margin: 0;
    font-size: 1.4em;
    text-align: center;
  }
}

@media (max-width: $xsmall) {
  .skipass-card {
    width: 105pt;

    &__title {
      font-size: 1em;
    }
  }
}
