@import 'screen-sizes.scss';
@import 'common/material-colors';

.skipass-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 170pt;
  background-color: $green;

  &--zero-balance {
    background-color: $red;

    .skipass-card__header {
      background-color: $red-400;
    }
  }

  &__header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green-400;
  }

  &__title {
    margin: 0;
    flex-grow: 2;
    color: #FFF;
    text-align: center;
  }

  &__link {
    color: #fff;
    text-decoration: none;
  }

  &__main-container {
    height: 80%;
    padding: 10pt 4pt;
    color: #FFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__card-number {
    width: 100%;
    margin: 0;
  }

  &__info-container {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  &__balance-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__balance-title {
    margin: 0;
  }

  &__balance {
    font-size: 3em;
    line-height: 1;
    margin: 10pt 0 0;
  }
}

@media (min-width: $xsmall) {
  .skipass-card {
    width: calc(50% - 3pt);
  }
}

@media (min-width: $small) {
  .skipass-card {
    width: calc(100% / 3 - 6pt);
  }
}
