@import "constant.scss";
@import "screen-sizes.scss";

.buka-skipass-number__form {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
}

.buka-skipass-number__input input {

  &::-ms-clear {
    display: none;
  }

  &:invalid {
    box-shadow: none;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}

.buka-skipass-search__add-button--hidden {
  display: none !important;
}

.bottom-navigation {
  display: flex;
  justify-content: center;

  &__link {
    max-width: 168px;
    flex: 1;

    button {
      // workaround for FF
      width: 100%;
    }
  }
}
