html, body {
    font-family: 'Roboto', sans-serif;
}

.buka__header {
    top: 0;
    z-index: 2;
    width: 100%;
    height: 64px;
    position: fixed;
}

.buka__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.buka-cardnumber__container {
    display: flex;
    align-items: center;
    align-self: center;
}

.buka-cardnumber__input input::-ms-clear {
    display: none;
}