
# config to enable HSTS(HTTP Strict Transport Security)
# https://developer.mozilla.org/en-US/docs/Security/HTTP_Strict_Transport_Security
# to avoid ssl stripping https://en.wikipedia.org/wiki/SSL_stripping#SSL_stripping
add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

# SSL configuration
listen 443 ssl http2 default_server deferred;
listen [::]:443 ssl http2 default_server deferred;

ssl_certificate /etc/letsencrypt/live/skipass.site/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/skipass.site/privkey.pem;

# Diffie-Hellman parameter for DHE ciphersuites
ssl_dhparam /etc/nginx/sites-available/skipass.site/ssl/dhparam.pem;

# disable SSLv3(enabled by default since nginx 0.8.19)
# since it's less secure then TLS http://en.wikipedia.org/wiki/Secure_Sockets_Layer#SSL_3.0
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

# enables server-side protection from BEAST attacks
ssl_prefer_server_ciphers on;

ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_ecdh_curve secp384r1;

# enable session resumption to improve https performance
ssl_session_cache shared:SSL:50m;
ssl_session_timeout 5m;

ssl_session_tickets off;
ssl_stapling on;
ssl_stapling_verify on;

# enable ocsp stapling (mechanism by which a site can convey certificate revocation
# information to visitors in a privacy-preserving, scalable manner)
# http://blog.mozilla.org/security/2013/07/29/ocsp-stapling-in-firefox/
resolver 8.8.8.8 8.8.4.4 valid=300s;
resolver_timeout 5s;
ssl_trusted_certificate /etc/letsencrypt/live/skipass.site/chain.pem;
